
@font-face {
    font-family: 'ppmoriregular';
    src: url('/fonts/PPMori-Regular.otf')
}

@font-face {
    font-family: 'Akkurat-Mono';
    src: url('/Fonts/AkkuratMono/Akkurat-Mono.OTF')
}

@font-face {
    font-family: 'Manrope';
    src: url('/Fonts/Manrope/Manrope-VariableFont_wght.ttf')
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    margin: 0;
    padding: 0;
}


body { 
    margin: 0;
    padding: 0;
    background-color:white;
    border: 5px solid #edc5e9;
}


 .nav-bar {
    position: sticky;
    top: 0;
    margin: auto 0;
    padding: 0;
    box-shadow: 0 6px 6px -7px black;

    /* bron box shadow: https://css-tricks.com/almanac/properties/b/box-shadow/ */
}


nav {
    display: block;
    align-items: center;
    justify-content: flex-start;
    background-color:#ffffff;
    padding: 1em;
    margin: 0;
}


nav p img { /*logo*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 120px;
    max-width: 100%;
    height: auto;
    padding-top: 0;
    margin: auto;
 }


nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}


nav ul li { /*responsive nav bar*/
    cursor: pointer;
    padding: 1em;
    flex: auto;
    text-align: center;
}


li a {
    color: rgb(0, 0, 0);
    font-family: 'Akkurat-mono', Arial, Helvetica;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    transition: 350ms ease;
}


p a:hover {
    color:blue;
}

 
p a:visited {
    color:olivedrab;
}


nav li a:hover {
    color: #d08fca;
    font-size: 1.5em;
    font-weight: 900;
    }


.active {
    display:inline-block;
    color:#328b87;
}


h1 {
    text-align: center;
    color:#328b87;
    text-decoration: none;
    font-size: 4em;
    font-family: 'futura-pt',sans-serif,Georgia;
    font-weight: 400;
    font-style: normal;
    padding: 0.5em 0em 0.2em 0em;
    margin: auto;
}


h2 {
    text-align: center;
    font-weight: 400;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 0em 0em 1em 0em;
    margin: 0vw 15vw 0vw 15vw;

}


header h2:nth-last-of-type(1){
    border-bottom: #328b87 solid 3px;
    text-align: center;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    padding: 0em 0 1em 0;
    margin: 0 15vw 2em 15vw;
}

h3 {
    text-align: center;
    font-weight: 400;
    font-family: "Akkurat-mono", Arial;
    margin: 0.5em 15vw 1em 15vw;
    font-size: 1.6em;
    padding: 0;
}

h4{
    font-family: 'manrope', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:#328b87;
    font-size: 1.5em; 
    margin: 0 auto;
    padding: 1.5em 3em 0.5em 3em;
}


ol {
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 1em 5em 1em 5em;
    margin: 0 auto;
}


p { 
    font-family: 'Manrope', Arial, Helvetica, sans-serif; 
    font-size: 1em;
    margin: 0.5em 4em 2em 4em;
    padding: 0; 
}


.historycolumns-container {
    columns: 2;
    margin: 1em 0 2em 0;
    column-rule: #328b87 3px solid;
}

.historycolumns-container h2 {
    font-family: 'Akkurat-mono',Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.5em;
    padding: 0;
    margin: 0em 2.7em 0.5em 2.7em;
}

.historycolumns-container hr {
    border-style: none;
}


img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
}



figcaption { 
    font-family: 'Manrope', sans-serif;
    text-align: center;
    padding-bottom: 1em;
}


.imagegallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0em 0.5em 0em 0.5em;
    margin: 0;
    overflow: hidden;
}


.imagegallery img {
    display: block;
    width: 60%;
    height: 60%;
    object-fit: cover;
    padding: 0;
    margin-top: 0;
    transition: 200ms ease-in;

}

.imagegallery a {
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    font-family: 'manrope', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: #328b87;
}


.imagegallery img:hover {
    width: 65%;
}


footer p {
    font-size: 0.7em;
    text-align: center;
    padding: 2em;
    margin:0;
    margin-bottom: 0;
    background-color: #edc5e9;
    max-width: 100%;
    
}

/*Japanese cities images bron:https://nl.pinterest.com/search/pins/?q=japan&rs=typed */
ol img{
    width: 250px;
    height: auto;
    max-width: 90%;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    box-shadow: 0px 5px 6px -3px #328b87;
    transition: 250ms ease-in;
}

ol a img:hover{
    width: 35%;
}


/*inspiratie bron: https://www.w3docs.com/snippets/css/how-to-style-buttons-with-css.html */
.wrapping {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}


.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 1em;
    width: 150px;
    border-radius: 10px;
    background-color: #328b87;
    color: #ffffff;
    box-shadow: 0 5px 6px -3px black;
    transition: all 200ms ease;
}

.wrapping p a {
    color: #ffffff;
    font-size: 1em;
    font-weight: 800;
}

.button:hover{
    transform: scale(1.1);
}


/*fashion page layout bron:https://www.youtube.com/watch?v=lgX38fNbxmw */
/*bronnen images: https://nl.pinterest.com/pin/AVLWQtB4BmmyNFk1tuGSLol2284vSuE_xyHArq-oV9h7EXzjSG4v2r0/
https://nl.pinterest.com/pin/106819822405402635/ https://nl.pinterest.com/pin/806707352022845183/ */
.container-fashionpage {
    display: table;
    align-items: center;
    background-color:#f5e7f3;
    border-radius: 15px;
    padding: 1em 1em 1em 3em;
    margin: 2em;
    box-shadow: 0px 6px 5px -4px;
}


.container-fashionpage img {
    display: inline;
    float: right;
    padding: 1em 1em 1em 1em;
    margin: 0em 1em 0 1em;
    width: 300px;
}

.container-fashionpage p, h4 {
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
}


/*responsive size*/
@media (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;

    }
    .nav-bar {
        position: relative;
    }
    .historycolumns-container{
        columns: 1;
    }

    .historycolumns-container h2 {
        font-size: 1.2em;
        margin: 0 0 0 3em;
    }

    ol {
        font-size: 0.9em;
       padding-left: 3em;
       padding-right: 3em;
    }
    img {
        width: 400px;
    }

    .container-fashionpage{
        padding-bottom: 2em;
    }


    .container-fashionpage img {
        height: auto;
        width: 250px;
        padding: 0.5em 0.5em 1em 0.5em;
        margin: 0em 4.5em 0em 4em;
    }

    ol img {
        width: 200px;
        transition: 200ms ease-in-out;
    }

    ol a img:hover {
        width: 55%;
    }    

    .imagegallery a {
        font-size: 1em;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1em;
    }
    
    h3 {
     font-size: 1.2em;
    }

    h4 {
        font-size: 1.2em;
        margin: 0;
    }

    p {
        font-size: 0.9em;
    }

    header h2:nth-last-of-type(1) {
        font-size: 1em;
    }

    .button {
        width: 120px;
    }
    
}